@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Quantico", sans-serif;
}
main{
    background-color: rgba(0, 0, 255, 0.66);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lista{
    background-color: white;
    height: 80vh;
    margin-top: 1.87rem;
    padding: 1.87rem;
    box-shadow: 0 9px 12px rgba(0, 0, 0, 0.25);
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.lista>h1{
    text-align: center;
    font-size: 40px;
}
